<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.concurrency.mapper.InvoiceMapper">
    <resultMap id="BaseResultMap" type="com.james.concurrency.dataobject.Invoice">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="product_buyer_id" jdbcType="BIGINT" property="productBuyerId" />
        <result column="recipient" jdbcType="VARCHAR"  property="recipient" />
    </resultMap>
    <sql id="Base_Column_List">
        id, product_buyer_id, recipient
    </sql>

    <select id="selectByProductBuyerId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            `invoice`
        where
            product_buyer_id = #{productBuyerId, jdbcType=BIGINT}
    </select>

    <update id="updateRecipientByProductBuyerId">
        update
            `invoice`
        set
            `recipient` = #{recipient,jdbcType=VARCHAR}
        where
            product_buyer_id = #{productBuyerId, jdbcType=BIGINT}
    </update>
</mapper>